<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<frameset rows="5%,85%,10%" noresize>
    <frame src="header.html"></frame>
    <frameset cols="20%, 80%">
        <frame src="leftPanel.html" id="frame_menu"></frame>
        <frame src="main.html" id="frame_main"></frame>
    </frameset>
    <frameset cols="20%, 80%">
        <frame src="playlistManager.html" id="frame_playlistManager"></frame>
        <frame src="player.html" id="frame_player"></frame>
    </frameset>
</frameset>


</html>