<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<frameset rows="10%,80%,10%" noresize frameborder="0">
    <frame  frameborder="0" src="header.html" id="frame_header"></frame>
    <frameset cols="20%, 80%">
        <frame frameborder="0" src="menu.html" id="frame_menu"></frame>
        <frame frameborder="0" src="main.html" id="frame_main"></frame>
    </frameset>
    <frameset cols="20%, 80%">
        <frame frameborder="0" src="playlistManager.html" id="frame_playlistManager"></frame>
        <frame frameborder="0" src="player.html" id="frame_player"></frame>
    </frameset>
</frameset>


</html>