<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body class="main">

        <div id="searchDiv" >
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <center>
                    <form class="form-inline" id="form">
                        <input id="input" class="form-control" type="text" placeholder="Search" aria-label="Search">
                        <button id="searchButton" type="submit" >Search</button>
                    </form>
                </center>
            </nav>
        </div>

        <div class="playlist" id="playlistDiv" hidden >
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a class="navbar-brand" id="playlistName">Navbar</a>
                <button id="removePlaylist"><img width="50%" height="50%" src="png/013-cancel.png"></button>
                <button id="playPlaylist"><img width="50%" height="50%" src="png/014-play-button-black.png"></button>
            </nav>
        </div>

        <table frame="none" width="100%">
            <tbody id="tracks" class="list-group">
            </tbody>
        </table>



        <script language="javascript" type="text/javascript">


            function processForm(e) {
                if (e.preventDefault) e.preventDefault();

                var input = document.getElementById('input');
                window.status = this.input.value;
                return false;
            }

            var form = document.getElementById('form');
            if (form.attachEvent) {
                form.attachEvent("submit", processForm);
            } else {
                form.addEventListener("submit", processForm);
            }

        </script>
    </body>
</html>