<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">


</head>
<body class="menu">

<table style="width:100%">
    <tr>
        <td style="width:100%">
            <button id="browseButton"><img width="30px" style="padding-right:1em; vertical-align: middle;" src="png/search_white.png"/>Browse Music</button>
        </td>
    </tr>


</table>
<table style="width:100%; padding-top: 2em;">
    <thead>
    <tr>
        <th style="width:10%"><img style=" vertical-align: middle" width="30px" src="png/009-list_white.png"/></th>
        <th style="vertical-align: middle">
            Playlists
        </th>
    </tr>
    </thead>
    <tbody style="padding-top:1em; " id="playlists">

    </tbody>
</table>



</body>


</html>