<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="player">
<center>
    <button id="back"><img style="width: 75%" src="png/006-back-1.png"></button>
    <button id="play_pause"><img id="play_pause_img"></button>
    <button id="next"><img style="width: 75%" src="png/007-next-1.png"></button>
</center>



</body>
</html>