<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<frameset rows="5%,85%,10%" noresize>
    <frame src="header.html"></frame>
    <frameset cols="20%, 80%">
        <frame src="leftPanel.html" id="left_panel"></frame>
        <frame src="main.html" id="main_panel"></frame>
    </frameset>
    <frameset cols="20%, 80%">
        <frame src="playlistManager" id="playlistManager_panel"></frame>
        <frame src="player.html" id="player_panel"></frame>
    </frameset>
</frameset>


</html>