<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="player">
<table style="width:100%">
    <tr>
        <td style="width: 25%">
            <button id="back"><img style="width: 60%" src="png/006-back-1.png"></button>
            <button id="play_pause"><img style="width: 75%" id="play_pause_img"></button>
            <button id="next"><img style="width: 60%" src="png/007-next-1.png"></button>
        </td>
        <td style="width: 40%" id="title"></td>
        <td style="width: 35%">
            <table>
                <tr><td id="album"></td></tr>
                <tr><td id="artist"></td></tr>
            </table>

        </td>

    </tr>

</table>



</body>
</html>